gform/gform.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="form">
		<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="element">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="name" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>